Repository G-Epitech/DFMY-RType, changes with the owners that CODEOWNERS names for each.
All owners: @flavien-chenu, @Yann-Masson, @TekMath, @sdragos1

feat: add GetId method to Entity
  libs/zygarde/src/entity.cpp
  libs/zygarde/src/entity.hpp
  libs/zygarde/src/registry.cpp
  libs/zygarde/src/registry.hpp
Owners: none

refactor(server-api): update lobby creation and payloads
  libs/abra/src/server/udp/server_udp.cpp
  libs/game/src/api/lobby/lobby.cpp
  libs/game/src/api/props/message.hpp
  libs/game/src/api/props/payload/auth/CMakeLists.txt
  libs/game/src/api/props/payload/auth/auth.hpp
  libs/game/src/api/props/payload/auth/join_lobby.hpp
  libs/game/src/api/props/payload/auth/register_lobby.hpp
  libs/game/src/api/server/server.cpp
  libs/game/src/api/server/server.hpp
  libs/game/src/api/server/server.tpp
Owners: none

feat(lobby-api): add messages handler and new player middleware
  libs/game/src/api/lobby/lobby.cpp
  libs/game/src/api/lobby/lobby.hpp
  libs/game/src/api/server/server.cpp
  libs/game/src/api/server/server.hpp
Owners: none

fix: network error on windows
  .gitignore
  libs/abra/src/client/udp/client_udp.cpp
  libs/abra/src/server/udp/server_udp.cpp
  libs/game/src/api/server/server.cpp
  server/main.cpp
  server/src/app/app.cpp
  server/src/app/app.hpp
  server/src/app/lobby/game_service/enemy_manager/CMakeLists.txt
  server/src/app/lobby/game_service/enemy_manager/enemy_manager.cpp
  server/src/app/lobby/game_service/enemy_manager/enemy_manager.hpp
  server/src/app/lobby/game_service/game_service.cpp
  server/src/app/lobby/game_service/game_service.hpp
  server/src/server_types.cpp
  vcpkg.json
Owners: @TekMath, @sdragos1

fix: collision system bullet bug
  libs/abra/src/client/udp/client_udp.cpp
  libs/game/src/constants/collision_layers.hpp
  libs/zygarde/src/physics/2d/components/box_collider/box_collider_2d.cpp
  libs/zygarde/src/physics/2d/components/box_collider/box_collider_2d.hpp
  libs/zygarde/src/physics/2d/components/collider/collider_2d.cpp
  libs/zygarde/src/physics/2d/components/collider/collider_2d.hpp
  libs/zygarde/src/physics/2d/components/rigidbody/rigidbody_2d.hpp
  libs/zygarde/src/physics/2d/systems/collision/collision_system.cpp
  libs/zygarde/src/physics/2d/systems/collision/collision_system.hpp
  libs/zygarde/src/physics/2d/types/collision_2d.hpp
  server/src/app/lobby/game_service/factories/enemy_factory.cpp
  server/src/app/lobby/game_service/factories/enemy_factory.hpp
  server/src/app/lobby/game_service/factories/player_factory.cpp
  server/src/app/lobby/game_service/factories/player_factory.hpp
  server/src/app/lobby/game_service/factories/projectile_factory.cpp
  server/src/app/lobby/game_service/factories/projectile_factory.hpp
  server/src/app/lobby/game_service/game_service.cpp
Owners: none

feat: add player fixed update to control shooting rate
  libs/game/includes/CMakeLists.txt
  libs/game/includes/stats.hpp
  libs/game/src/stats/weapons/basic.hpp
  libs/zygarde/src/scripting/components/script/script.hpp
  libs/zygarde/src/utils/registry_helper/registry_helper.cpp
  libs/zygarde/src/utils/registry_helper/registry_helper.hpp
  server/src/app/lobby/game_service/factories/player_factory.cpp
  server/src/app/lobby/game_service/factories/player_factory.hpp
  server/src/app/lobby/game_service/game_service.cpp
  server/src/app/lobby/game_service/game_service.hpp
Owners: none

refactor(game): add full link between master server and lobby
  libs/abra/src/client/abstract_client.cpp
  libs/abra/src/client/interface_client.hpp
  libs/abra/src/client/tcp/client_tcp.cpp
  libs/abra/src/client/tcp/client_tcp.hpp
  libs/game/src/api/client/client.cpp
  libs/game/src/api/client/client.hpp
  libs/game/src/api/client/client.tpp
  libs/game/src/api/lobby/lobby.cpp
  libs/game/src/api/server/server.cpp
  libs/game/src/api/server/server.hpp
Owners: none

refactor(client): add new lobby messages types
  client/src/systems/game/sync.cpp
Owners: none

refactor(server): add new logic of master and lobby
  libs/game/includes/api.hpp
  libs/game/src/api/lobby/lobby.cpp
  libs/game/src/api/lobby/lobby.hpp
  libs/game/src/api/server/server.cpp
  libs/game/src/api/server/server.hpp
  server/master-config.rtype-cfg
  server/src/app/lobby/game_service/game_service.cpp
  server/src/app/lobby/game_service/game_service.hpp
  server/src/app/lobby/lobby.cpp
  server/src/app/lobby/lobby.hpp
  server/src/app/master/master.cpp
Owners: @TekMath, @sdragos1

fix(abra): update middleware condition to tcp client
  libs/abra/src/client/abstract_client.cpp
Owners: none

refactor(lint): format code
  server/src/app/lobby/game_service/game_service.cpp
  server/src/app/lobby/lobby.cpp
Owners: none

refactor(server): replace strcpy with snprintf
  libs/game/src/api/server/server.cpp
Owners: none

fix(client-api): add ip of payload with new lobby system
  libs/game/src/api/client/client.cpp
  libs/game/src/api/props/network.hpp
  libs/game/src/api/server/server.hpp
Owners: none

refactor(game-apis): update endpoint system with tcp remote ip
  libs/abra/src/server/tcp/server_tcp.cpp
  libs/abra/src/server/tcp/server_tcp.hpp
  libs/abra/src/server/tcp/session/session_tcp.cpp
  libs/abra/src/server/tcp/session/session_tcp.hpp
  libs/game/src/api/client/client.cpp
  libs/game/src/api/server/server.cpp
Owners: none

feat(lobby): add remote/local client handler from master
  libs/game/src/api/client/client.cpp
  libs/game/src/api/lobby/lobby.cpp
  libs/game/src/api/props/network.hpp
Owners: none

feat: add zipper tool
  libs/zygarde/src/registry.cpp
  libs/zygarde/src/registry.hpp
  libs/zygarde/src/registry.tpp
  libs/zygarde/src/tools/CMakeLists.txt
  libs/zygarde/src/tools/zipper.hpp
  libs/zygarde/src/tools/zipper.tpp
  libs/zygarde/src/tools/zipper_iterator.hpp
  libs/zygarde/src/tools/zipper_iterator.tpp
  libs/zygarde/src/utils/CMakeLists.txt
  libs/zygarde/src/utils/helper/CMakeLists.txt
  libs/zygarde/src/utils/helper/helper.cpp
  libs/zygarde/src/utils/helper/helper.hpp
  libs/zygarde/src/utils/registry_helper/CMakeLists.txt
  libs/zygarde/tests/registry_test.cpp
  libs/zygarde/tests/system_test.cpp
  server/src/app/lobby/game_service/game_service.hpp
Owners: none

fix(client-api): prevent remote connection
  libs/game/src/api/client/client.cpp
Owners: none

fix: firerate being too big
  libs/game/src/CMakeLists.txt
  libs/game/src/dummy.cpp
  libs/game/src/stats/weapons/basic.hpp
  libs/game/src/utils/CMakeLists.txt
  libs/game/src/utils/projectiles/CMakeLists.txt
  libs/game/src/utils/projectiles/fire_rate.cpp
  libs/game/src/utils/projectiles/fire_rate.hpp
  libs/zygarde/src/scripting/components/script/script.hpp
  server/src/app/lobby/game_service/factories/player_factory.cpp
  server/src/app/lobby/game_service/game_service.cpp
Owners: none

refactor(zigarde): remove useless function in zipper
  libs/zygarde/src/tools/zipper.hpp
  libs/zygarde/src/tools/zipper.tpp
Owners: none

refactor(zygarde): rename variables
  libs/zygarde/src/tools/zipper.hpp
  libs/zygarde/src/tools/zipper.tpp
  libs/zygarde/src/tools/zipper_iterator.hpp
  libs/zygarde/src/tools/zipper_iterator.tpp
Owners: none

test(zygarde): add a brand new test
  libs/zygarde/tests/registry_test.cpp
  libs/zygarde/tests/system_test.cpp
Owners: none

fix(lobby-api): update new user handler
  libs/game/src/api/lobby/lobby.cpp
Owners: none

fix: different crashes in the game
  client/src/systems/game/sync.cpp
  libs/game/src/stats/weapons/basic.hpp
  libs/zygarde/src/physics/2d/components/box_collider/box_collider_2d.hpp
  libs/zygarde/src/registry.tpp
  libs/zygarde/src/scripting/systems/execution/script_execution_system.cpp
  server/src/app/lobby/game_service/factories/projectile_factory.cpp
  server/src/app/lobby/game_service/game_service.cpp
Owners: none

feat(zygarde): extract optional values
  libs/zygarde/src/tools/zipper_iterator.hpp
  libs/zygarde/tests/system_test.cpp
Owners: none

feat(zygarde): give a zipper in Run method
  libs/zygarde/src/CMakeLists.txt
  libs/zygarde/src/system_abstract.hpp
  libs/zygarde/src/system_abstract.tpp
  libs/zygarde/src/tools/zipper.hpp
  libs/zygarde/src/tools/zipper.tpp
  libs/zygarde/src/tools/zipper_iterator.hpp
  libs/zygarde/src/utils/CMakeLists.txt
  libs/zygarde/tests/system_test.cpp
Owners: none

test(zygarde): refactor with zipper in run method
  libs/zygarde/tests/system_test.cpp
Owners: none

fix: bullet states not being sent
  libs/zygarde/src/physics/2d/systems/movement/movement_system.cpp
  libs/zygarde/src/registry.cpp
  server/src/app/lobby/game_service/factories/player_factory.cpp
  server/src/app/lobby/game_service/factories/projectile_factory.cpp
  server/src/app/lobby/game_service/game_service.cpp
Owners: none

fix: entity lifecycle problems
  libs/zygarde/src/registry.cpp
  libs/zygarde/src/registry.hpp
Owners: none

chore: replace bullet sprite
  client/src/systems/game/sync.cpp
Owners: none

feat: destroy projectiles if they are too far
  libs/game/src/constants/collision_layers.hpp
  server/src/app/lobby/game_service/factories/projectile_factory.cpp
  server/src/app/lobby/game_service/game_service.cpp
Owners: none

docs: add installation and platforms details
  README.md
Owners: none

refactor(porygon): add Has method
  libs/porygon/src/handler.hpp
  libs/porygon/src/handler.tpp
  libs/porygon/tests/tests_handler.cpp
Owners: none

feat(porygon): add first version of library
  Jenkinsfile
  Makefile
  libs/CMakeLists.txt
  libs/porygon/CMakeLists.txt
  libs/porygon/src/CMakeLists.txt
  libs/porygon/src/handler.cpp
  libs/porygon/src/handler.hpp
  libs/porygon/src/handler.tpp
  libs/porygon/src/utils/CMakeLists.txt
  libs/porygon/src/utils/symbols.hpp
  libs/porygon/tests/CMakeLists.txt
  libs/porygon/tests/tests_handler.cpp
Owners: none

fix(porygon): add missing export modifier on shared symbols
  libs/porygon/src/CMakeLists.txt
  libs/porygon/src/api.h
  libs/porygon/src/handler.hpp
Owners: none

docs(porygon): add README.md and fix broken link of abra
  libs/abra/README.md
  libs/porygon/README.md
  libs/porygon/images/porygon.png
Owners: @TekMath

fix(porygon): fix broken method Has
  libs/porygon/src/handler.tpp
Owners: none

docs(porygon): add porygon documentation
  Jenkinsfile
  docs/docs/libraries/_category_.json
  docs/docs/libraries/abra/abra.mdx
  docs/docs/libraries/abra/img/abra.png
  docs/docs/libraries/abra/tools/_category_.json
  docs/docs/libraries/abra/tools/packet-builder.mdx
  docs/docs/libraries/abra/tools/packet.mdx
  docs/docs/libraries/game/api/_category_.json
  docs/docs/libraries/game/api/client.mdx
  docs/docs/libraries/game/game.mdx
  docs/docs/libraries/porygon/api/add-instance.mdx
  docs/docs/libraries/porygon/api/add.mdx
  docs/docs/libraries/porygon/api/api.mdx
  docs/docs/libraries/porygon/api/create.mdx
  docs/docs/libraries/porygon/api/get-or-throw.mdx
  docs/docs/libraries/porygon/api/get-shared.mdx
  docs/docs/libraries/porygon/api/get.mdx
  docs/docs/libraries/porygon/api/has.mdx
  docs/docs/libraries/porygon/api/make-shared-with-dependencies.mdx
  docs/docs/libraries/porygon/api/make-with-dependencies.mdx
  docs/docs/libraries/porygon/get-started.mdx
  docs/docs/libraries/porygon/img/porygon.png
  docs/docs/libraries/porygon/porygon.mdx
  docs/docs/libraries/zygarde/img/zygarde.png
  docs/docs/libraries/zygarde/zygarde.mdx
Owners: none

docs: update README.md
  README.md
Owners: none

feat(zygarde): add new operator and ability to access index
  libs/zygarde/src/tools/zipper_iterator.hpp
  libs/zygarde/tests/system_test.cpp
Owners: none

docs(zygarde): add code comments in iterator
  libs/zygarde/src/tools/zipper_iterator.hpp
  libs/zygarde/src/tools/zipper_iterator.tpp
  libs/zygarde/tests/system_test.cpp
Owners: none

CODEOWNERS:

client/* @flavien-chenu @Yann-Masson
server/* @TekMath @sdragos1
libs/abra/* @TekMath
libs/zygarde/* @Yann-Masson
